.Code {
  padding: 20px;
  border: 1px solid var(--primary-color);
  position: relative;
  background: var(--code-bg);
  overflow-y: auto;
}

.CodeRedesigned {
  padding: 20px;
  border: 2px solid var(--accent-redesigned);
  position: relative;
  background: var(--light-bg-redesigned);
  overflow: auto;
  border-radius: 16px;
}

.copyBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.copyIcon {
  stroke: var(--primary-color);
}
