.popup {
  position: relative;
}

.active {
  background: var(--inverted-primary-color);
}

.bottomLeft {
  top: 100%;
  right: 100%;
}

.bottomRight {
  top: 100%;
  left: 100%;
}

.topLeft {
  bottom: 100%;
  right: 100%;
}

.topRight {
  bottom: 100%;
  left: 100%;
}

.disabled {
  opacity: 0.7;
}

.trigger {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
}

.top {
  top: 100%;
}

.bottom {
  bottom: 100%;
}
