.ArticleList {
  width: 100%;

  // &.SMALL {
  //   display: flex;
  //   gap: 10px;
  //   flex-wrap: wrap;
  // }

  &.BIG {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }
}

.listContainer {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 50px;
}

.itemContainer {
  width: 200px;
  display: flex;
  align-content: stretch;

  @media (max-width: 1024px) {
    width: 50%;
  }

  @media (max-width: 300px) {
    width: 100%;
  }
}
