.app_color_theme {
  --bg-color: rgb(251, 244, 251);
  --primary-color: #7220e4;
  --secondary-color: rgb(143, 108, 193);
  --inverted-bg-color: #cd88cd;
  --inverted-primary-color: #7220e4;
  --inverted-secondary-color: rgb(60, 8, 82);
}
