:root,
.app_light_theme {
  --bg-color: rgb(255 255 255);
  --primary-color: rgb(13 73 225);
  --secondary-color: rgb(32 199 255);
  --inverted-bg-color: rgb(42 42 93);
  --inverted-primary-color: rgb(40, 255, 40);
  --inverted-secondary-color: rgb(13, 109, 13);
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --code-bg: rgb(209, 209, 209);
  --card-bg: rgb(218, 218, 218);

  // redesigned
  // --dark-bg-redesigned: hsl(0, 0%, 100%);
  // --bg-redesigned: #f5f3f4;
  // --light-bg-redesigned: #ff8409;
  // --text-redesigned: #252323;
  // --hint-redesigned: #6d6875;
  // --cancel-redesigned: #e63946;
  // --save-redesigned: #b5e48c;
  // --icon-redesigned: #e9ecef;
  // --accent-redesigned: rgb(142, 202, 230);

  --dark-bg-redesigned: hsl(0, 0%, 100%);
  --bg-redesigned: #eee3cb;
  --light-bg-redesigned: #967e76;
  --text-redesigned: #252323;
  --hint-redesigned: #6d6875;
  --cancel-redesigned: #e63946;
  --save-redesigned: #b5e48c;
  --icon-redesigned: #e9ecef;
  --accent-redesigned: rgb(142, 202, 230);
}
