.starIcon {
  cursor: pointer;
<<<<<<< HEAD
  stroke: var(--primary-color);
=======
>>>>>>> c9bc05cbfc69ffb9958a83f3a833d78e0c1873d5
}

.hovered {
  fill: var(--primary-color);
}

.normal {
  fill: none;
}

.selected {
  cursor: auto;
}
